<link rel='import' href='../../bower_components/polymer/polymer-element.html'>
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">    
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">    


<dom-module id='katas-trophy-challenges'>
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h3>Tus desafios:</h3>
    <paper-listbox attr-for-selected="item-name" selected="{{selected}}" fallback-selection="None">
      <template is="dom-repeat" items="[[filteredChallenges]]" filter="_isSelected">
        <paper-item item-name="[[item.id]]">[[item.name]]</paper-item>
      </template>
    </paper-listbox>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class KatasTrophyChallenges extends Polymer.Element {
      static get is() { return 'katas-trophy-challenges'; }
      static get properties() {
        return {
          challenges: {
            type: Array,
            value: []
          },
          filteredChallenges: {
            type: Array,
            value: [],
            computed: '_computeFilteredChallenges(challenges,languaje)'
          },
          languaje: {
            type: String,
            observe: true,
            value: 'all'
          },
          last: {
            type: Number,
            value: 0
          },
          selected: {
            type: Number,
            value: 0,
            notify: true
          }
        }
      }
      _computeFilteredChallenges(data, languaje) {
        function filtro(elem) {
          return (elem.completedLanguages.indexOf(languaje) > -1)||(languaje==='all');
        }
        if(Array.isArray(data)) data = data.filter(filtro);
        return data;
      }
      _isSelected(item,index) {
        return (this.filteredChallenges.length - index <= this.last) || this.last==0;
      }
    }
    window.customElements.define(KatasTrophyChallenges.is, KatasTrophyChallenges);
  </script>
</dom-module>