<link rel='import' href='../../bower_components/polymer/polymer-element.html'>
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../src/katas-trophy-rank/katas-trophy-rank.html">

<dom-module id='katas-trophy-profile'>
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[name]]!</h2>
    <h3>Tus skills:</h3>
    <template is="dom-repeat" items="{{skills}}">
        <h4># [[index]]. [[item]]</h4>  
    </template>
    <h3>Ranking Global:</h3>
    <katas-trophy-rank rank="[[ranks.overall.rank]]" name="[[ranks.overall.name]]" color="[[ranks.overall.name]]" score="[[ranks.overall.score]]"></katas-trophy-rank>
    <h3>Ranking por lenguaje:</h3>
    <template is="dom-repeat" items="{{_toArray(ranks.languages)}}">
        <!--<h4># [[index]]. [[item.key]]: [[item.val.name]]</h4>-->
        <h4>[[index]]. [[item.key]]</h4>
        <katas-trophy-rank rank="[[item.val.rank]]" name="[[item.val.name]]" color="[[item.val.name]]" score="[[item.val.score]]"></katas-trophy-rank>
    </template>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class KatasTrophyProfile extends Polymer.Element {
      static get is() { return 'katas-trophy-profile'; }
      static get properties() {
        return {
          name: {
            type: String,
            value: ''
          },
          skills: {
            type: Array,
            value: []
          },
          ranks: {
            type: Object,
            value: {}
          },
        };
      }
      _toArray(obj, deep) {
        var array = [];
        for (var key in obj) {
          if (deep || obj.hasOwnProperty(key)) {
            array.push({
              key: key,
              val: obj[key]
            });
          }
        }
        return array;
      }
    }
    window.customElements.define(KatasTrophyProfile.is, KatasTrophyProfile);
  </script>
</dom-module>
