<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../katas-trophy-profile/katas-trophy-profile.html">
<link rel="import" href="../katas-trophy-challenges/katas-trophy-challenges.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">    
<link rel="import" href="../../bower_components/paper-item/paper-item.html">    
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">    

<dom-module id="katas-trophy-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <iron-ajax url="https://techcodewars.herokuapp.com/api/v1/users/nahuel.alvarez" handle-as="json" last-response="{{profileData}}" loading="{{loadingpd}}" auto></iron-ajax>
    <iron-ajax url="https://techcodewars.herokuapp.com/api/v1/users/nahuel.alvarez/code-challenges/completed" handle-as="json" last-response="{{challengesData}}" loading="{{loadingcd}}" auto></iron-ajax>
    <template is="dom-if" if="[[selectedChallenge]]">
        <iron-ajax url="https://techcodewars.herokuapp.com/api/v1/code-challenges/[[selectedChallenge]]" handle-as="json" last-response="{{selectedChallengeDetails}}" loading="{{loadingdd}}" auto></iron-ajax>
    </template>
    <template is="dom-if" if="[[loading]]">
      <paper-spinner class="spinner" active="[[loading]]"></paper-spinner>
    </template>
    <template is="dom-if" if="[[!loading]]">
      <katas-trophy-profile done hidden$=false name="[[profileData.username]]" skills="[[profileData.skills]]" ranks="[[profileData.ranks]]"></katas-trophy-profile>    
      <h3>Filtro por lenguaje:</h3>      
      <paper-listbox attr-for-selected="item-name" selected="{{languaje}}" fallback-selection="None">
        <paper-item item-name="all">(todos)</paper-item>
        <paper-item item-name="javascript">Javascript</paper-item>
        <paper-item item-name="c">C</paper-item>
        <paper-item item-name="cpp">C++</paper-item>
        <paper-item item-name="sql">SQL</paper-item>
      </paper-listbox>
      <katas-trophy-challenges challenges="[[challengesData.data]]" languaje=[[languaje]] last=5 selected="{{selectedChallenge}}"></katas-trophy-challenges>
      <h3>Detalle del desafio seleccionado:</h3>
      <template is="dom-if" if="[[loadingdd]]">
        <paper-spinner class="spinner" active="[[loadingdd]]"></paper-spinner>
      </template>
      <template is="dom-if" if="[[!loadingdd]]">          
        <div>[[selectedChallengeDetails.description]]</div>
      </template>      
    </template>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class KatasTrophyApp extends Polymer.Element {
      static get is() { return 'katas-trophy-app'; }
      static get properties() {
        return {
          profileData: {
            type: String,
            value: 'katas-trophy-app'
          },
          loading: {
            type: Boolean,
            value: false,
            computed: '_computeLoading(loadingpd, loadingcd)'
          },
          challengesData: {
            type: String,
            value: 'desafios'
          },
          loadingpd: {
            type: Boolean,
            value: false
          },
          loadingcd: {
            type: Boolean,
            value: false
          },
          languaje: {
            type: String,
            value: 'all'
          },
          selectedChallenge: {
            type: String,
            value: ''
          },
          selectedChallengeDetails: {
            type: String,
            value: ''
          },
          loadingcd: {
            type: Boolean,
            value: false
          }
        }
      }
      _computeLoading(a,b) {
        return a&&b;
      }
      _computeLanguaje(index) {
        console.log(index);
        return index;
      }
      _toArray(obj, deep) {
        var array = [];
        for (var key in obj) {
          if (deep || obj.hasOwnProperty(key)) {
            array.push({
              key: key,
              val: obj[key]
            });
          }
        }
        return array;
      }
    }

    window.customElements.define(KatasTrophyApp.is, KatasTrophyApp);
  </script>
</dom-module>
