<link rel='import' href='../../bower_components/polymer/polymer-element.html'>
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id='katas-trophy-rank'>
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <p>RANK: [[rank]] NAME: [[name]] COLOR: [[color]] SCORE: [[score]] </p>
    </template>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class KatasTrophyRank extends Polymer.Element {
      static get is() { return 'katas-trophy-rank'; }
      static get properties() {
        return {
          rank: {
            type: Number,
            value: -8
          },
          name: {
            type: String,
            value: '8 kyu'
          },
          color: {
            type: String,
            value: 'white'
          },
          score: {
            type: Number,
            value: 0
          }
        };
      }
    }
    window.customElements.define(KatasTrophyRank.is, KatasTrophyRank);
  </script>
</dom-module>
